* {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 30%;
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;
}
.imgDiv {
  width: 100%;
}
.imgeStyle {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.subContiner {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  padding: 3%;
}
.leftSubContainer {
  /* border: 1px solid yellow; */
  width: 100%;
}
.rightSubContainer {
  /* border: 1px solid green; */
  width: 30%;
}
